[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}


body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.player {
  width: 100%;
}

.player .display {
  position: fixed;
  width: 100%;
  height: 110px;
  background: #3d404b;
}

.player .display > div {
  display: inline-block;
}

.player .display .cover{
  float: left;
  padding: 20px 30px 20px 5%;
}

.cover img {
  width: 64px;
  height: 64px;
  border: 3px solid rgb(129, 129, 137);
  border-radius: 3px;
}

.button {
  height: 65%;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
}

.button.play {
  background: url(../img/play.png) no-repeat  50% 100%;
  width: 85px;
}
.button.pause {
  background: url(../img/pause.png) no-repeat 50% 100%;
  width: 85px;
}
.button.next {
  background: url(../img/next.png) no-repeat  0 100%;
  width: 28px;
  background-size: 28px;
  position: absolute;
  left: 235px;
}
.button.previous {
  background: url(../img/previous.png) no-repeat  0 100%;
  width: 28px;
  background-size: 28px;
  position: absolute;
  left: 150px;
}

.button.stop {
  background: url(../img/stop.png) no-repeat;
}

.button.repeat {
  background: url(../img/repeat.png) no-repeat 0 100%;
  width: 30px;
  background-size: 25px;
  margin-left: .7%;
}

.singer {
  position: absolute;
  left: 360px;
  top: 30px;
  color: white;
}

.song_line_wrapper {
  height: 65%;
  width: 50%;
  margin-left: 3%;
}

.song_line_wrapper > div {
  display: inline-block;
  height: 100%;
  float: left;
}

.song_line_wrapper .position_time, .song_line_wrapper .duration_time {
  width: 50px;
  text-align: right;
  color: white;
}

.position_time span, .duration_time span {
  display: inline-block;
  position: relative;
  top: 80%;
}



.song_line {
  width: 79%;
  margin: 0 15px;
}

.song_line .main_line, .volume_line_all, .volume_line_current {
  width: 100%;
  height: 8px;
  background: rgb(163, 165, 169);
  border-radius: 4px;
  position: relative;
  top: 85%;
}
.song_line .loaded_line {
  position: relative;
  height: 100%;
  border-radius: 11px;
  background: rgb(224, 225, 227);
  z-index: 1;
}
.song_line .played_line {
  position: relative;
  height: 100%;
  border-radius: 11px;
  bottom: 8px;
  background: #00AAAB;
  width: 0%;
  z-index: 2;
}
.song_line .play_position, .volume_position {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 6px;
  background: #00AAAB;
  bottom: 19px;
  box-shadow: 0px 0px 5px rgb(14, 135, 139);
  margin-left: -3px;
  z-index: 3;
}

.volume_line_wrapper {
  height: 60%;
  width: 6%;
  margin: 0 20px 0 30px;
}

.volume_line_wrapper .volume_line_all {
  background: rgb(224, 225, 227);
}

.volume_line_wrapper .volume_line_current {
  background: #00AAAB;
  top: 72%;
}

.volume_line_wrapper .volume_position {
  top: 56%;
}

.search_panel {
  height: 70px;
  margin-top: 110px;
  position: fixed;
  width: 100%;
  padding-left: 5%;
  background: rgb(211, 212, 216);
}


.search_panel .search_field_block {
  border: 1px solid rgb(207, 208, 212);
  height: 35px;
  margin-top: 15px;
  background: white;
  float: left;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 10px;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: 99% 50%;
}
.search_field_block .search_field_item {
  float: left;
  margin-right: 10px;
  height: 16px;
  margin-top: 8px;
  background: rgb(255, 200, 127);
  font-size: 12px;
  padding: 3px 15px 0 5px;
  color: white;
  border-radius: 5px;
}
.search_field_item .search_field_item_closer {
  width: 12px;
  height: 12px;
  position: relative;
  bottom: 14px;
  left: 97%;
  margin-left: 3px;
  background-image: url('../img/close_icon_small.png');
  background-size: 13px;
  cursor: pointer;
}

.search_field {
  height: 100%;
  border: none;
  padding: 0;
  font-size: 15px;
}
.search_field:focus {
  outline: none;
}


.playlist_panel {
  position: fixed;
  margin-top: 180px;
  width: 100%;
  font-size: 15px;
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
}

.sorted_list {
  padding: 40px;
}

.sorted_list__table {
  width: 100%;
}
.sorted_list__table_row {
  cursor: default;
}

.sorted_list__table_row:hover {
  background: #C0C2C5;
}

.sorted_list__table_row:hover .sorted_list__table_ceil:first-child {
  border-radius: 10px 0 0 10px;
}

.sorted_list__table_row:hover .sorted_list__table_ceil:last-child {
  border-radius: 0 10px 10px 0;
}

.sorted_list__table_row.sorted_list__table_head_row {
  color: #000;
  cursor: pointer;
  text-align: left;
  height: 35px;
  vertical-align: top;
}

.sorted_list__table_row.sorted_list__table_head_row:hover {
  background: none;
}

.sorted_list__table_ceil {
  border-bottom: 1px solid rgb(231, 232, 236);
  height: 30px;
}
.sorted_list__table_ceil.sorted_list__table_head_ceil {
  border-bottom: none;
}

.sorted_list__table_head_ceil.asc {
  background: url(../img/arrow2_s.png) no-repeat;
  background-size: 8px;
  background-position: 95% 10px;
}
.sorted_list__table_head_ceil.desc {
  background: url(../img/arrow2_n.png) no-repeat;
  background-size: 8px;
  background-position: 95% 10px;
}

.add_file_block {
  width: 99%;
  height: 45px;
  border: 2px dashed;
  border-radius: 12px;
  margin-left: 5px;
  margin-top: 5px;
}

.add_file_block span {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.add_file_input {
  width: 100%;
  height: 100%;
  opacity: 0;
}
